#tabela{
	padding-top:7%;
}

th, td {
  text-align: left;
  padding: 8px;
  text-align:center;
  border-bottom:1px solid #ddd;
  background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0);
}

th {
  background-color: #d9d9d9;
  color:black ;
}

.table-header {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.13em;
  }
 .col {
    flex-basis: 2%;
  }
 .col1 {
    flex-basis: 10%;
  }
  .col2 {
    flex-basis: 40%;
  }
  .col3 {
    flex-basis: 25%;
  }
body{
	margin:0;
	padding:0;
	background-size:cover;
	background-position:center;
	font-family:sans-serif;
}

#check{
	display:none;
}
#icone{
	cursor:pointer;
	padding:15px;
	position:absolute;
	z-index:1;
}
.menu{
	background-color:#333;
	height:600px;
	width:200px;
	position:absolute;
	transition:all .2s linear;
	left:-200px; 
	
}
nav{
		width:100%;
		position:absolute;
		top:60px;
}
nav a{
	text-decoration:none;
}
.menu--link{
	background-color:#494950;
	padding:20px;
	font-family:arial;
	font-size:12pt;
	transition:all .2s linear;
	color:f4f4f9;
	border-bottom:2px solid #222;
	opacity:0;
	margin-top:200px;
	
}
.menu--link:hover{
		background-color:#050542;
}
#check:checked ~ .menu{
	transform:translateX(200px);
}
#check:checked ~ .menu nav a .menu--link{
	opacity:1;
	margin-top:0;
	transition-delay:.2s;
}
.div3{
	width:100%;
	height:100px;
	background:black;
	color:white;
	position:absolut;
	text-align:center;
	padding-top:40px;
}
a{
	text-decoration: none;
  color: black;
	margin-top: 50px ;
  text-align: center;
}
footer{
	bottom:0%;
	position:absolute;
	background:black;
	color:white;
	width:100%;
	height:100px;
	text-align:center;
}
table {
  border-collapse: collapse;
  width: 75%;
  
}

