#name{
	color :black;
}
#ad{
	color:black;
	text-align:center;
}
.div{
	width:100%;
	height:100px;
	background:black;
	position:absolut;
	text-align:center;
}
.div2{
	height:100px;
	float:left;
}
.div3{
	padding-top:40px;
}
img
{
	height:100px;
}
body{
	margin:0;
	padding:0;
	background-size:cover;
	background-position:center;
	font-family:sans-serif;
}
.loginbox{
	width:320px;
	height:420px;
	background:#000;
	color:#fff;
	top:50%;
	left:50%;
	position:absolut;
	transform:translate(180%,50%);
	box-sizing:border-box;
	padding: 10px 30px;
}
.avatar{
	width:100px;
	height:100px;
	border-radius:50%;
	position:absolute;
	top:-25%;
	left:calc(50% - 50px);
	background:#037e03ff;
	background:#fff;
}
.avatar2{
	background:#fff;
}
h1{
	margin:0;
	padding:0 0 20px;
	text-align: center;
	font-size: 22px;
	color:#fff;
}
.loginbox p{
	margin:0;
	padding:0;
	font-weight:bold;
	color:#000;
}
.loginbox input{
	width:100%;
	margin-bottom:20px;
}
.loginbox input[type="text"]
{
	border:none;
	border-bottom:1px solid #fff;
	background: #000;
	outline: none;
	height:40px;
	color:#fff;
	font-size:16px;
}
.loginbox input[type="submit"]
{
	border:none;
	background: green;
	outline: none;
	height:40px;
	color:#fff;
	font-size:18px;
	border-radius:20px;
}
.loginbox input[type="submit"]:hover
{
	cursor:pointer;
	background:green;
	color:#000;
}
.loginbox a{
	text-decoration:none;
	font-size:12px;
	line-height:20px;
	color: darkgreen;
	
}
.loginbox a:hover{
	color: blue;
}





















































